* {
  margin: 0px;
  padding: 0px;
}

html {
  height: 100%;
}
/* header + children */
header {
  background-image: url("https://cdn.pixabay.com/photo/2016/10/27/10/25/bokeh-1773914_960_720.jpg");
  background-position: absolute;

  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;

  width: 100%;
}

header h1 {
  text-align: center;
  padding: 10px 5px 10px 5px;
}

/* 
.navbar ul {
  background-color: rgba(0, 0, 0, 0.11);
  padding: 5px;
}

.navbar li {
  padding: 5px;
  display: inline-block;
}
.navbar li:hover {
  background-color: rgba(0, 128, 0, 0.171);
}

.navbar a {
  text-decoration: none;
  color: rgba(43, 42, 42, 0.993);
} */

/* main + children */
#container {
  display: block;
  padding: 90px 30px 30px 30px;
}

#container h3 {
  padding-top: 5px;
  padding-bottom: 5px;
  text-decoration: underline;
  text-align: center;
}
#container article {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* Footer + children */
.footer {
  background-image: url("https://cdn.pixabay.com/photo/2016/10/27/10/25/bokeh-1773914_960_720.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* position: fixed; */
  width: 100%;
}
.footer p {
  /* float: right;
*/
  padding: 3px 3px 3px 0px;
  color: rgb(41, 40, 40);
  text-align: right;
}
